.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.quotes {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.quotes li.quote {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.quotes li.quote:hover {
    background-color: #f0f0f0;
}

div.quote-author {
    font-style: italic;
    font-weight: bold;
    margin-right: 48px;
    margin-top: 1em;
}

div.quote-body {
    font-size: larger;
}

div.quote-body:before {
    content: "\201c";
}

div.quote-body:after {
    content: "\201d";
}

div.post-thumbnail {
    position: absolute;
}

div.quote-content {
    margin-left: 48px;
    min-height: 48px;
}

div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

h1.aq {
    font-style: italic;
}

.profile-list {
    font-size: large;
}